{% extends "base.html" %}

{% block title %}Home{% endblock %}

 {% block frontpageheader %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Lists</h1>
        <p>Going shopping? Need a list? Do it here!</p>
        {% if request.oauth.credentials.id_token %}
          <p><a class="btn btn-primary btn-lg" href="{% url 'lists:mylists' %}" role="button">See My Lists &raquo;</a></p>
        {% else %}
          <p><a class="btn btn-primary btn-lg" href="{% url 'google_oauth:authorize' %}" role="button">Log in with Google to get started &raquo;</a></p>
        {% endif %}
      </div>
    </div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xs-12">
		<p>An example shopping list application for a Google Apprenticeship in Digital Innovation application.</p>
    <h3>Project Brief: Option 2 - App Engine</h3>
    <p>Build a simple webapp, using google app engine that provides users with an ability to keep track of a shopping list</p>
    <p>Should be written in Python, Go, or Java.</p>
    <ul>
      <li>User must be able to add, delete and edit an item to the shopping list</li>
      <li>User must be able to view their whole shopping list</li>
      <li>User must be able to delete their whole shopping list (in addition to deleting individual items)</li>
      <li>Each user must be able to login with their Google account and their shopping list must persist between their logins</li>
    </ul>
    <p><a href="https://github.com/joehalloran/shoppinglist_project" target="_blank">View source code here</a></p>
	</div>
</div>
{% endblock %}